@width: 65vw;
@background: #f4f4f4;
@fontSize: 40px;
@fontFamily: 'Arial';

.logo {
    height: 70px;
    width: @width;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    background-color: @background;
    margin-left: 12vw;
}

.nav-bar {
    display: flex;
    width: @width;
    justify-content: center;
    border: 2px solid black;
    margin-bottom: 5vw;
    margin-left: 12vw;

    .nav-btns {
        display: block;
        cursor: pointer;
        height: 45px;
        width: auto;
        background-color: @background;
        margin: 25px 10px 25px 10px;
    
        &:hover {
            background-color: darken(@background,20%);
            height: 50px;
            color: white;
    
        }
        
    }
}



.content {
    height: 100%;
    width: @width;
    margin-left: 12vw;
    border: 1px solid black;
    font-size: @fontSize;
}
.menu {
    list-style: none;
    background-color: @background;
    .menu-item {
        font-size: @fontSize;
        font-family: @fontFamily;
        padding: 15px;

        
    }
}