@width: 65vw;
@fontColor: white;
@fontSize: 40px;
@fontFamily: 'Arial';
@titleBackground: black;

body {
    background-color: #BC6C25;
}


.title-area {
    width: 100%;
    opacity: 0.80;
    background-color:@titleBackground;
    font-family: @fontFamily;
    color: @fontColor;
}

.title {
    display: flex;
    justify-content: space-between;
    .title-area();
    margin-bottom: 0;
    font-size: @fontSize;
    padding: 10px 0px 10px 0px;

}

.logo {
    display: flex;
    width: 50vw;
    color: @fontColor;
    font-weight: 800;
    text-shadow: 2px 2px black;
    font-size: 40px;
    margin-left: 20px;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;

    .nav-btns {
        display: block;
        cursor: pointer;
        font-size: 20px;
        color: white;
        height: 40px;
        width: auto;
        margin: 0px 5px 0px 7px;
        background-color:#606C38;
    
        &:hover {
        
            background-color: darken(#606C38,15%);
            color: white;
    
        }
        
    }
}

.hours {

    .title-area();

    height: fit-content;
  
    
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
  
    font-size: 28px;
    color: @fontColor;
    font-weight: 800;
    text-shadow: 2px 2px black;

}

.hours-text {
    margin-top: 0;
    padding-left: 25px;
}


.content {
    height: 35vw;
    width: @width;
    opacity: 0.75;
    background-color: #283618;
    color: @fontColor;
    font-family: @fontFamily;
    padding: 0px 10px 0px 10px;
    line-height: 2;
    margin-left: 15vw;
    box-shadow: 2px 2px black;
    font-size: 24px;
}

.page-text {
    font-family: @fontFamily;
    padding: 0px 10px 0px 10px;
    font-size: 24px;

}
.coffee-img {
background-color:lighten(#fefae0,20%);
width: fit-content;
margin-left: 35%;
margin-top: 5%;
border-radius: 9px;
    .coffee-icon {
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    }
}

.menu {
    list-style: none;
    .menu-item {
        font-size: @fontSize;
        font-family: @fontFamily;
        padding: 15px;

        
    }
}